div {
  text-align: center;
  display: flex;
  flex-flow: column;
  height: 100vh;
  justify-content: center;
  width: 100vw;
  background-image: url("/./assets/clean.png");
  background-repeat:repeat-y;
}

h1 {
  padding: 10px 5px;
  font-size: 72px;
}
